{% extends 'base.html' %}


<style>
  #fuck {
    flex: auto;
  }
</style>




{% block contents %}

<!-- ------------------------------------------------------------------------------------------------------------------>
<br><br><br><br><br>
<p>
  <div style="border:1px ;float:left;width:25%;">
    <a class="nav-link" href="{%url 'home' %}">Home <span class="sr-only">(current)</span></a>
  </div>
  <div style="border:1px ;float:left;width:25%;">
    <a class="nav-link" href="#">About</a>
  </div>
<div style="border:1px ;float:left;width:25%;">
<a class="nav-link" onclick="this.nextSibling.style.display=(this.nextSibling.style.display=='none')?'block':'none';"
  href="javascript:void(0)">
  SEARCH
</a><div style="DISPLAY: none">
    <form action="{%url 'home' %}" method="POST">{% csrf_token %}

        <div style="border:1px ;float:left;width:33%;">
          <p>Brand</p>
          <input type="hidden" name="brand" value="all">
          <li><input type="checkbox" name="brand" value="스타벅스">스타벅스 </li>
          <li><input type="checkbox" name="brand" value="투썸플레이스">투썸플레이스 </li>
          <li><input type="checkbox" name="brand" value="all">전체 브랜드 </li>
        </div>
      
        <div style="border:1px;float:left;width:33%;">
          <p>Sale type</p>
          <input type="hidden" name="saletype" value="all">
          <li><input type="checkbox" name="saletype" value="경매">경매 </li>
          <li><input type="checkbox" name="saletype" value="급매">급매</li>
          <li><input type="checkbox" name="saletype" value="all">전체</li>
        </div><br>
        <div style="border:1px;float:left;width:33%;">
        <input type="submit">
      </div><br><br><br>
      </form>
  <a onclick="this.parentNode.style.display='none';" href="javascript:void(0)">
  </a></div></div>

  <div style="border:1px ;float:left;width:25%;">
  <a class="nav-link" href="{%url 'upload_file' %}"><span class="glyphicon glyphicon-gift" aria-hidden="true"></span>
    Register</a></div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>


<p>선택된 브랜드: {{selectedcategory.brand}}</p>
<br>
<ol class="breadcrumb">
  <li class="sort-date" value="?sort=date">최신순</a></li>
  <li class="sort-lowprice" value="?sort=lowprice">낮은가격순</a></li>
  <li class="sort-highprice" value="?sort=highprice">높은가격순</li>
</ol>

<select id="sort-select" onchange="location = this.value;">
  <option class="sort" value="/">정렬방식</option>
  <option class="sort-date" value="?sort=date">최신순</option>
  <option class="sort-lowprice" value="?sort=lowprice">낮은가격순</option>
  <option class="sort-highprice" value="?sort=highprice">높은가격순</option>
</select>


<!--Detail-->
{% if details %}
{%ifequal details.saletype "경매"%}
<!--경매-->
<div class="card mb-5" style="max-width: 800px; display: block; margin: 0px auto; ">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="{{details.productimg.url}}" height="300" alt="" class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h3 class="card-title">{{details.pbrand}}</h3>
        <h4 class="card-title">{{details.pitem}}</h4>
        <p class="card-text">
          상품분류: {{details.saletype}}<br>
          하한가:&nbsp{{details.lowerlimit}}<br>
          입찰가: {{details.bidprice}}<br>
          입찰자:{{details.biduser}}<br>
          원가:&nbsp{{details.originalprice}}<br>
          작성자:&nbsp{{details.user_id}}
          <form method="POST" action="{%url 'auction' details.id %}">
            <input type="number" name="bidprice">
            <input type="submit">
          </form>
        </p>

        <a class="btn btn-primary" href="{%url 'buy' details.id%}" role="button">구매</a>
        <a class="btn btn-primary" href="{%url 'upload_file' %}" role="button">상품등록</a>
        <a class="btn btn-primary" href="{%url 'home' %}" role="button">돌아가기</a>
      </div>
    </div>
  </div>
</div>


{%else%}
<!--급매-->
<div class="card mb-5" style="max-width: 800px; display: block; margin: 0px auto; ">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="{{details.productimg.url}}" height="300" alt="" class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h3 class="card-title">{{details.pbrand}}</h3>
        <h4 class="card-title">{{details.pitem}}</h4>
        <p class="card-text">
          상품분류: {{details.saletype}}<br>
          판매가:&nbsp{{details.lowerlimit}}<br>
          원가:&nbsp{{details.originalprice}}<br>
          작성자:&nbsp{{details.user_id}}</p>

        <a class="btn btn-primary" href="{%url 'buy' details.id%}" role="button">구매</a>
        <a class="btn btn-primary" href="{%url 'upload_file' %}" role="button">상품등록</a>
        <a class="btn btn-primary" href="{%url 'home' %}" role="button">돌아가기</a>
      </div>
    </div>
  </div>
</div>
{%endifequal%}
{%endif%}


<div class="card-group">
  {% for u in posts %}
  <div class="card">
    <img src="{{u.productimg.url}}" height="300" alt="">
    <div class="card-body">
      <h5 class="card-title">{{u.pbrand}}</h5>
      <h5 class="card-title">{{u.pitem}}</h5>
      <p class="card-text">{{u.lowerlimit}}</p>
      <a href="{%url 'home' 99999 u.id 99999 %}" class="button">Go somewhere</a>
    </div>
  </div>
  {%endfor%}
</div><br>

<div class="container">

  {% if posts.has_previous %}
  <a href="?page=1">First</a>
  <a href="?page={{posts.previous_page_number}}">Prev</a>
  {% endif %}

  <span>{{posts.number}}</span>
  <span> of</span>
  <span> {{posts.paginator.num_pages}}</span>

  {%if posts.has_next%}
  <a href="?page={{posts.next_page_number}}">Next</a>
  <a href="?page={{posts.paginator.num_pages}}">Last</a>
  {% endif %}
</div>

{%endblock%}